
html{
  height:100%; 
  margin:0;
  padding:0;
  overflow:hidden;
  position: fixed;
}

body{
  margin: 0;
  padding:0;
  overflow:hidden;
}

canvas{
  margin:0;
  padding:0;
  overflow: hidden;
}

@media ( max-width: 767px ) {

  html{
    height:100%; 
    margin:0;
    padding:0;
    overflow:hidden;
    position: fixed;
  }
  
  body{
    margin: 0;
    padding:0;
    overflow:hidden;
  }
  
  canvas{
    margin:0;
    padding:0;
    overflow: hidden;
  }

}
