
h1{
  color : white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-kerning: auto;
  font-stretch: expanded;
  word-break: normal;
 
}
.home-back{
 
  overflow : hidden ;
}
.project{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
 width:50%;
 height: 80%;
  left: 50%;
  top:10%;
  right: 0%;
  bottom: 10%;
  
  display:flex;
  font-size: 2vh;
  flex-direction: column;
  justify-content:center;
  align-items: center; 

}
.p{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.about{

  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  display: inline-block;
  left: 7%;
  top: 20%;
  right: 50%;
  bottom: 0%;
  font-size: 2.5vh;
  line-height: 1.1em;
  color: white;
  margin: 2px;
}
.about .name{
font-size: 5vh;
}
.about .email{
  font-size: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4vh;
  }


.welcome-image{
max-width: 100%;
}

a{color:white;}
a:link {color: white; text-decoration: none;}

a:hover{color:dimgray; text-decoration:none;}
a:active{color:gray; text-decoration:none;}


body{

}

.nav-wrapper{
margin-left: 100px;
}

nav{
position: fixed;
left: 50%;
top: 10%;
right: 30%;
bottom: 0;
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}

.logo{
  position: absolute;
  right: 10%;
  bottom: 11.5%;
  font-size: 3vw;
  color : white;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
  font-kerning: auto;
  word-break: normal;

}

.nextButton{
  font-size: 3vw;
  position: absolute;
 right:2%;
 bottom: 11%;
}
.previousButton{
  font-size: 3vw;
  position: absolute;
 right:6%;
 bottom: 11%;
}

ul{
  list-style-type: none;
  color : black;
  margin-left: 0;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  line-height: 2em;
  font-kerning: auto;
  font-stretch: expanded;
  
}

.wrapper {
  background-color: white;
  position: fixed;
  left: 0%;
  bottom:9%;
  top:9%;
  right: 0%;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: left;
  align-content: flex-start;


}


.text-wrapper{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;
}


  
   
.contents-wrapper{
  min-width: 500px;
  border-left: thin solid black;
  position: fixed;
  left: 72%;
  top: 9%;
  right: 0%;
  bottom: 9%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

}

.main-image{
width:72%;
height: 100%;
}
.sub-image{

width: 100%;
border-bottom: thin solid black;
}
img{
  width: 100%;
  max-height: 100%;
 
}
.arrow {
position: fixed;
right:5%;
top:60%;
width:15%;

}
.desc-detail{
  
display: inline-block;
 height: auto;
 padding: 10px;
 
  color : black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  text-align: left;

  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;

}


 .title-up div{
  color: white;
  padding:1vh;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  white-space: nowrap;
  overflow: hidden; 
  font-size: 5vh;
  text-transform: uppercase;
  animation: _title 90s linear infinite; 
  
 }

 .title-up div:nth-child(2){
  animation: _title2 90s linear infinite;  
  overflow: hidden; 
 }

 .title-down div{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top:91%;
  padding:1vh;
  white-space: nowrap;
  overflow: hidden; 
  font-size: 5vh;
  text-transform: uppercase;
  animation: _title 90s linear infinite; 
  
 }

 .title-down div:nth-child(2){
  animation: _title2 90s linear infinite;  
  overflow: hidden; 
 }
 


 @keyframes _title {
  0% {
  transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes _title2 {
  0% {
  transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

 @media ( max-width: 767px ) {
  
}