
h1{
  color : white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-kerning: auto;
  font-stretch: expanded;
  word-break: normal;
 
}


.project{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
 width:50%;
 height: 80%;
  left: 50%;
  top:10%;
  right: 0%;
  bottom: 10%;
  
  display:flex;
  font-size: 2vh;
  flex-direction: column;
  justify-content:center;
  align-items: center; 

}
.p{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.about-web{
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  display: inline-block;
  left: 7%;
  top: 20%;
  right: 50%;
  bottom: 0%;
  font-size: 2.5vh;
  line-height: 1.1em;
  color: white;
  margin: 2px;
}

.about-mobile{
  display: none;
}


.name{
font-size: 5vh;
}
.email-web{
  position: absolute;
  bottom:2%;
  right: 2%;
  color: white;
  font-size: 3vh;
  font-family:'Times New Roman', Times, serif;
  margin-top: 1vh;
  }
.email-mobile{
  display: none;

}
.about-mobile{
  display: none;
}

.welcome-image{
max-width: 100%;
}

a{color:white;}
a:link {color: white; text-decoration: none;}

a:hover{color:dimgray; text-decoration:none;}
a:active{color:gray; text-decoration:none;}

.nav-wrapper{
margin-left: 100px;
}

nav{
position: fixed;
left: 50%;
top: 10%;
right: 30%;
bottom: 0;
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}

.home-button{
  position: absolute;
  right: 10%;
  bottom: 11.5%;
  font-size: 3vw;
  color : white;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
  font-kerning: auto;
  word-break: normal;

}

.nextButton{
  font-size: 3vw;
  position: absolute;
 right:2%;
 bottom: 11%;
}
.previousButton{
  font-size: 3vw;
  position: absolute;
 right:6%;
 bottom: 11%;
}

ul{
  list-style-type: none;
  color : black;
  margin-left: 0;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  line-height: 2em;
  font-kerning: auto;
  font-stretch: expanded;
  
}

.wrapper {
  background-color: white;
  position: absolute;
  left: 0%;
  bottom:9%;
  top:9%;
  right: 0%;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: flex-start;

}


   
.contents-wrapper{
  
  width:100%;
  height: auto;
  border-left: thin solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;

}

.main-image{
height:100%;
width: auto;
}

.sub-image{
width: auto;
height: 50%;
border-bottom: thin solid black;

}

img{
  height: 100%;
  width: auto;
}
img .sub-image{
  width: 100%;
  height: auto;
}

.arrow {
  display: none;
position: fixed;
right:5%;
top:60%;
width:100%;

}

.desc-title{
display: inline-block;
width: auto;
 padding: 20px;
 font-weight: bold;
  color : black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5vh;

  text-align: left;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;

}
.desc-detail{
  
display: inline-block;
 width: auto;
 min-height: 200px;
 padding: 20px;
 
  color : black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5vh;
  text-align: left;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;

}


 .title-up div{
  color: white;
  padding:1vh;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  white-space: nowrap;
  overflow: hidden; 
  font-size: 5vh;
  text-transform: uppercase;
  animation: _title 90s linear infinite; 
  
 }

 .title-up div:nth-child(2){
  animation: _title2 90s linear infinite;  
  overflow: hidden; 
 }

 .title-down div{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top:91%;
  padding:1vh;
  white-space: nowrap;
  overflow: hidden; 
  font-size: 5vh;
  text-transform: uppercase;
  animation: _title 90s linear infinite; 
  
 }

 .title-down div:nth-child(2){
  animation: _title2 90s linear infinite;  
  overflow: hidden; 
 }
 


 @keyframes _title {
  0% {
  transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes _title2 {
  0% {
  transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

 @media ( max-width: 767px ) {

  .body{
  height:100%; 
  min-height:100%;
  overflow:hidden!important; 
  touch-action:none;}

  
  .project{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
   width:100%;
   height: 100%;
    left: 0%;
    top:0%;
    right: 0%;
    bottom: 0%;
    
  }
  .about-web {
    display: none;
  }
  .about-mobile {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    display: inline-block;
    left: 7%;
    top: 10%;
    right: 7%;
    bottom: 0%;
    font-size: 2.5vh;
    line-height: 1.2em;
    color: white;
    margin: 2px;
}
.email-mobile{

  bottom:1%;
  right: 2%;
  color: white;
  font-size: 1.5vh;
  font-family:'Times New Roman', Times, serif;
  margin-top: 1vh;

}
.email-web{
  display: none;
}

.main-image{
  height:auto;
  width: 100%;
  }

img{
    height:auto;
    width: 100%;
    }
  
.wrapper {
  background-color: white;
  position: absolute;
  left: 0%;
  bottom:9%;
  top:9%;
  right: 0%;
  font-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-content: flex-start;

} 

.desc-detail{
  
  display: inline-block;
   width: auto;
   min-height: 30%;
   padding: 20px;
   
    color : black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    text-align: left;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  
  }   
  .desc-title{
    display: inline-block;
    width: auto;
     padding: 20px;
     font-weight: bold;
      color : black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 3vh;
    
      text-align: left;
      word-break: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    
    }

  .nextButton{
    font-size: 12vw;
    display: inline-block;
    position: absolute;
   right:20%;
   left:70%;
   bottom: 11%;
  }
  .previousButton{
    font-size: 12vw;
    position: absolute;
    display: inline-block;
    left:20%;
    right:70%;
    bottom: 11%;
  }
  .home-button{
    position: absolute;
    
    right: 42%;
    bottom: 11.5%;
    font-size: 12vw;
    color : white;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    font-kerning: auto;
    word-break: normal;
  }
  
  
}